<!DOCTYPE html>
<html>
    <head>
        <!-- Important stuff (encoding and styles) -->
        <meta charset="UTF-8"/>
        <style>
            body {
                background-color: #3a3333;
            }

            h1, h2, p {
                font-family: Source Code Pro, monospace;
                text-align: center;
                color: #eedd7a;
            }

            footer {
                position: absolute;
                bottom: 0.5%;
            }

            p {
                text-align: left;
                color: #555555;
            }

            a, a:visited {
                color: #555555;
            }

            a:hover {
                color: #ffc77a;
            }
        </style>

        <!-- Page title and Open Graph (embed) -->
        <meta title="Your IP address."/>

        <meta property="og:title" content="Single?"/>
        <meta property="og:description" content="Wake up and meet your princess."/>
        <meta property="og:image" content="https://inyourwalls.net/icon.png"/>
    </head>

    <body>
        <h1>Your IP address is:</h1>
        <h2>{{client_address}}</h2>

        <footer>
            <p>made with <3 by <a href="https://github.com/InYourWalls/">inyourwalls</a>.</p>
        </footer>
    </body>
</html>